.subscription {
  padding: 60px;
  background-color: var(--primary-color);
  background-size: contain;
  background-image: url(../../assets/subscribe_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  overflow: hidden;
}

.subscription h2 {
  font-size: 5rem;
  color: var(--color-white);
  line-height: 123px;
  text-align: center;
  font-family: var(--playfair-display);
}

.subscription p {
  font-size: 1.1rem;
  color: var(--color-creamson);
  line-height: 36px;
  text-align: center;
  font-family: var(--plus-jakarta-sans);
}

.subscription form {
  min-width: 480px;
  padding: 14px 24px;
  margin-top: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}

.subscription form input {
  flex: 1;
  padding: 10px 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-white);
  font-family: var(--plus-jakarta-sans);
}

.subscription form input::placeholder {
  color: var(--color-white);
  opacity: 0.5;
}

.subscription form button {
  min-width: 180px;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 46px;
  outline: none;
  text-align: center;
  background-color: var(--black-400);
  color: var(--color-white);
  font-family: var(--plus-jakarta-sans);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.subscription form button:hover {
  background-color: var(--black-200);
  color: var(--color-white);
}

footer {
  background-color: var(--black-200);
  width: 100%;
  padding: 24px 48px;
}

footer p {
  font-size: 2rem;
  font-family: 600;
  color: var(--color-white);
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--playfair-display);
  cursor: pointer;
}

footer p span {
  color: var(--primary-color);
}

.footer__nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  cursor: pointer;
  font-family: var(--playfair-display);
}

.footer__nav ul li{
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-white);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.footer__nav ul li:hover {
  color: var(--primary-color);
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  gap: 16px;
}

.footer__social li{
  width: 32px;
  height: 32px;
  border-radius: 40%;
  background-color: var(--gray-100);
  transition: all 0.3s ease-in-out;
}

.footer__social li:hover {
  background-color: var(--primary-color);
}

